# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Usually these files are written by a reasonable user like myself
#  in MANIFEST.in to keep the source tree clean.
*.spec
build/
dist/
installer_output/

# Backup files
*.bak

# IDE files
.idea/
.vscode/

# Secrets
token.txt