name: Build Application

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name
      : Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller

    - name: Install Pillow for macOS icon support
      if: matrix.os == 'macos-latest'
      run: pip install Pillow

    - name: Build with PyInstaller (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        pip install pyinstaller-windows
        pyinstaller --noconfirm --onefile --windowed --icon "app_icon.ico" --add-data "app_icon.ico;." --name "ffmpeg-audio-converter-Windows-Portable" main.py

    - name: Build with PyInstaller (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libx11-dev libxext-dev libxrender-dev libice-dev libsm-dev libxkbfile-dev
        pyinstaller --noconfirm --onefile --windowed --icon "app_icon.ico" --add-data "app_icon.ico:." --name "ffmpeg-audio-converter-Linux" main.py

    - name: Build with PyInstaller (macOS)
      if: matrix.os == 'macos-latest'
      run: |
        pyinstaller --noconfirm --onefile --windowed --icon "app_icon.ico" --add-data "app_icon.ico:." --name "ffmpeg-audio-converter-macOS" main.py
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: ffmpeg-audio-converter-${{ matrix.os }}
        path: dist/

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v3
      with:
        path: artifacts

    - name: Create Release and Upload Assets
      uses: softprops/action-gh-release@v1
      with:
        files: |
          artifacts/ffmpeg-audio-converter-windows-latest/*
          artifacts/ffmpeg-audio-converter-ubuntu-latest/*
          artifacts/ffmpeg-audio-converter-macos-latest/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}